######################################################
# Visual Studio
######################################################

.vs/

######################################################
# Build Output
######################################################

bin/
obj/
**/bin/
**/obj/

######################################################
# User Files
######################################################

*.user
*.suo

######################################################
# Rider
######################################################

.idea/

######################################################
# Logs
######################################################

*.log

######################################################
# Publish / Deployment Artifacts
######################################################

publish/
*.zip

######################################################
# NuGet
######################################################

project.lock.json
project.fragment.lock.json
artifacts/

######################################################
# OS Files
######################################################

Thumbs.db
Desktop.ini